<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="/public/css/style.css" type="text/css">
	<title>Burgers</title>
</head>

<body>
	<img src="/public/img/burger.jpg" width="400px" id="burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="blue-text text-lighten-4">Tim T</span>
			</div>
		</div>
	</footer>
</body>
</html>